{% extends "base.html" %}
{% block content %}
    <div class="content-section">
	<form method="POST" action="" enctype="multipart/form-data">
	    {{ form.hidden_tag() }}
	    <fieldset>
		<legend>Add a new task</legend>
		<div>
		    {{ form.title.label() }}
		    <br>
		    {{ form.title(class='form-control') }}
		    {% if form.title.errors %}
			{% for error in form.title.errors %}
			    <small class="form-text text-muted">{{ error }}</small>
			{% endfor %}
		    {% endif %}
		</div>
		<br>
		<div>
		    {{ form.text.label() }}
		    {{ form.text(class='form-control-file') }}
		    {% if form.text.errors %}
			{% for error in form.text.errors %}
			    <small class="form-text text-muted">{{ error }}</small><br>
			{% endfor %}
		    {% endif %}
		</div>
		<br>
		<div>
		    {{ form.maxpoints.label() }}
		    <br>
		    {{ form.maxpoints(class='form-control') }}
		    {% if form.maxpoints.errors %}
			{% for error in form.maxpoints.errors %}
			    <small class="form-text text-muted">{{ error }}</small>
			{% endfor %}
		    {% endif %}
		</div>
		<br>
		<div>
		    {{ form.tests.label() }}
		    <!-- TODO add tooltip -->
		    {{ form.tests(class='form-control-file') }}
		    {% if form.tests.errors %}
			{% for error in form.tests.errors %}
			    <small class="form-text text-muted">{{ error }}</small><br>
			{% endfor %}
		    {% endif %}
		</div>
		<br>
		<div>
		    {{ form.public.label() }}
		    {{ form.public() }}
		</div>
		<!-- TODO doradit -->
	    </fieldset>
	    <br>
	    <div>
		{{ form.submit(class='btn btn-primary') }}
	    </div>
	</form>
    </div>
{% endblock content %}
