{% extends "base.html" %}
{% block content %}
    <h1>Calendar</h1>
    <br>
    <table class="table">
	<thead>
	    <tr>
		<th>Name</th>
		<th>Start time</th>
		<th>End time</th>
		<th>Scoreboard</th>
	    </tr>
	</thead>
	<tbody>
	    {% for competition in competitions %}
		{% if competition.public or current_user.admin %}
		    <tr>
			<td><a href="{{ url_for('display_competition', competition_id=competition.id) }}">{{ competition.name }}</a></td>
			<td>{{ competition.start_time }}</td>
			<td>{{ competition.end_time }}</td>
			<td><a href="{{ url_for('competition_result', competition_id=competition.id) }}">Results</a></td>
		    </tr>
		{% endif %}
	    {% endfor %}
	</tbody>
    </table>
    <br>

    {% if current_user.admin %}
	<a class="btn btn-primary" href="{{ url_for('add_competition') }}" role="button">Add competition</a>
    {% endif %}
{% endblock content %}
