{% extends "base.html" %}
{% block content %}
    <h1>{{ competition.name }}</h1>
    <br>
    <!-- TODO dodat vrijeme -->
    <div>
	<strong>Start time: </strong>
	{{ competition.start_time }}
    </div>
    <div>
	<strong>End time: </strong>
	{{ competition.end_time }}
    </div>
    <br>
    <table class="table">
	<thead>
	    <tr>
		<th>Task name</th>
		<th>Maximum points</th>
	    </tr>
	</thead>
	<tbody>
	    {% for t in Contains.select().where(Contains.competition == competition.id) %}
		<tr>
		    <td><a href="{{ url_for('display_task', task_id=t.task.id, competition_id=competition.id) }}">{{ t.task.title }}</a></td>
		    <td>{{ t.task.maxpoints }}</td>
		</tr>
	    {% endfor %}
	</tbody>
    </table>
    {% if current_user and current_user.admin %}
	<button type="button" class="btn btn-success" onclick="location.href='/evaluate/competition/{{ competition.id }}'">Evaluate</button>
    {% endif %}
{% endblock content %}
